# Yarn-related files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Uncomment the following line if using Yarn Zero-Installs
# Documentation here: https://yarnpkg.com/features/caching#zero-installs
# !.yarn/cache

# Ignore IDE settings
.idea

# Ignore Node.js dependencies
node_modules/
