# Default npm registry
registry-url=https://registry.npmjs.org/
strict-ssl=true

# Authentication token for npm registry
//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}

# Default publish settings
access=public
directory=dist
