# Default npm registry
registry=https://registry.npmjs.org/

# Authentication token for npm registry
//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}

# Default publish settings
access=public
directory=dist
